# Local Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log

# Ignore sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars.secret.log

# Override files for local configuration
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .env files
*.env
#Ignore plan outputs
*.tfplan
